### Gradle
.gradle
build
gradle-app.setting

### Eclipse/STS
.classpath
.project
.settings
.springBeans
bin

### IDEA
*.iml
*.ipr
*.iws
.idea
out

### OS
*~
.directory
.Trash-*

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN

.DS_Store
._*
.Trashes
